@import "../../assets/vendors/epam-ui/less/uui-core.less";
@import "../../assets/vendors/epam-ui/less/uui-form-elements.less";

* {
  box-sizing: border-box;
}

.app-wrapper {
  padding: 30px;
}


.uui-form-wrapper {
  margin: 0 0 20px;
  & > input {
    width: 100%;
    margin: 0 0 20px;
  }
}

.debug {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  background: white;
  border: 1px solid grey;
  z-index: 10000;
  box-sizing: border-box;
  padding: 10px;
}
